@import "./review.css";

.page {
  display: flex;
  margin: 0 -15px;
}

.page-leftColumn {
  width: 66.6667%;
  border-right: 1px solid #e5e5e1;
  padding-right: 30px;
}

.page-reviewList > li {
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #e5e5e1;
}

.page-rightColumn {
  width: 33.3333%;
  padding-right: 30px;
}
